<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receive data from URL</title>
</head>
<body>
    <p style="color: green;background-color: burlywood;font-size: 20px;">
        {{var}}
    </p>
    <img src="/static/razak.png" height="500px" width="800px"/>
    <video controls autoplay muted>
        <source src="/static/Peru.mp4"/>
    </video>
    <audio controls>
        <source src="/static/Valimai BGM.mp3"/>
    </audio>
</body>
</html>